@* @code {
    [Parameter]
    public string Title { get; set; } = "Default Title";
} *@

 <div class="app-menu">
    <!-- Brand Logo -->
    <div class="logo-box">
        <!-- Brand Logo Light -->
        <a href="index.html" class="logo-light">
            <img src="https://moodle.riwi.io/pluginfile.php/1/theme_academi/logo/1720163097/Imagen1%20%281%29.png" alt="logo" class="logo-lg">
            <img src="https://moodle.riwi.io/pluginfile.php/1/theme_academi/logo/1720163097/Imagen1%20%281%29.png" alt="small logo" class="logo-sm">
        </a>

        <!-- Brand Logo Dark -->
        <a href="index.html" class="logo-dark">
            <img src="https://riwi.io/wp-content/uploads/2023/07/Fondo-claro-logo2-1.png" alt="dark logo" class="logo-lg">
            <img src="https://riwi.io/wp-content/uploads/2023/07/favicon.png" alt="small logo" class="logo-sm">
        </a>
    </div>

    <!-- menu-left -->
    <div class="scrollbar">

        <!-- User box -->
        <div class="user-box text-center">
            <img src="https://moodle.riwi.io/pluginfile.php/1/theme_academi/logo/1720163097/Imagen1%20%281%29.png   " alt="user-img" title="Mat Helme" class="rounded-circle avatar-md">
            <div class="dropdown">
                <a href="javascript: void(0);" class="dropdown-toggle h5 mb-1 d-block" data-bs-toggle="dropdown">Geneva Kennedy</a>
                <div class="dropdown-menu user-pro-dropdown">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user me-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings me-1"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock me-1"></i>
                        <span>Lock Screen</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-log-out me-1"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </div>
            <p class="text-muted mb-0">Admin Head</p>
        </div>

        <!--- Menu -->
        <ul class="menu">

            <li class="menu-title">Navegaciòn</li>

            <li class="menu-item">
                <a href="#menuDashboards" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i data-feather="airplay"></i></span>
                    <span class="menu-text"> Sobre nosotros </span>
                    <span class="badge bg-success rounded-pill ms-auto">4</span>
                </a>
                <div class="collapse" id="menuDashboards">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="index.html" class="menu-link">
                                <span class="menu-text">Noticias</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="dashboard-2.html" class="menu-link">
                                <span class="menu-text">Articulos</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="dashboard-3.html" class="menu-link">
                                <span class="menu-text">Entrevistas</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="dashboard-4.html" class="menu-link">
                                <span class="menu-text">Eventos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-title">Descubre</li>

            <li class="menu-item">
                <a href="apps-calendar.html" class="menu-link">
                    <span class="menu-icon"><i data-feather="calendar"></i></span>
                    <span class="menu-text"> Talento Riwi </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="#menuCrm" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i data-feather="users"></i></span>
                    <span class="menu-text"> CRM </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuCrm">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="crm-dashboard.html" class="menu-link">
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="crm-contacts.html" class="menu-link">
                                <span class="menu-text">Contacts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="crm-opportunities.html" class="menu-link">
                                <span class="menu-text">Opportunities</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="crm-leads.html" class="menu-link">
                                <span class="menu-text">Leads</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="crm-customers.html" class="menu-link">
                                <span class="menu-text">Customers</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuEmail" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i data-feather="mail"></i></span>
                    <span class="menu-text"> Contacto </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuEmail">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="email-inbox.html" class="menu-link">
                                <span class="menu-text">Inbox</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="email-read.html" class="menu-link">
                                <span class="menu-text">Read Email</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="email-compose.html" class="menu-link">
                                <span class="menu-text">Compose Email</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="email-templates.html" class="menu-link">
                                <span class="menu-text">Email Templates</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="apps-companies.html" class="menu-link">
                    <span class="menu-icon"><i data-feather="activity"></i></span>
                    <span class="menu-text"> Aliados </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="#menuProjects" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i data-feather="briefcase"></i></span>
                    <span class="menu-text"> Projectos </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuProjects">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="project-list.html" class="menu-link">  
                                <span class="menu-text">List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="project-detail.html" class="menu-link">
                                <span class="menu-text">Detail</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="project-create.html" class="menu-link">
                                <span class="menu-text">Home</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">                
                <div class="collapse" id="menuTasks">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="task-list.html" class="menu-link">
                                <span class="menu-text">List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="task-details.html" class="menu-link">
                                <span class="menu-text">Details</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="task-kanban-board.html" class="menu-link">
                                <span class="menu-text">Kanban Board</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuContacts" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i data-feather="book"></i></span>
                    <span class="menu-text"> Contacts </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuContacts">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="contacts-list.html" class="menu-link">
                                <span class="menu-text">Members List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="contacts-profile.html" class="menu-link">
                                <span class="menu-text">Profile</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        
            <li class="menu-title">Components</li>

            <li class="menu-item">
                <a href="#menuTables" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i data-feather="grid"></i></span>
                    <span class="menu-text"> Tables </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuTables">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="tables-basic.html" class="menu-link">
                                <span class="menu-text">Basic Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-datatables.html" class="menu-link">
                                <span class="menu-text">Data Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-editable.html" class="menu-link">
                                <span class="menu-text">Editable Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-responsive.html" class="menu-link">
                                <span class="menu-text">Responsive Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-footables.html" class="menu-link">
                                <span class="menu-text">FooTable</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-bootstrap.html" class="menu-link">
                                <span class="menu-text">Bootstrap Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-tablesaw.html" class="menu-link">
                                <span class="menu-text">Tablesaw Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-jsgrid.html" class="menu-link">
                                <span class="menu-text">JsGrid Tables</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuCharts" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i data-feather="bar-chart-2"></i></span>
                    <span class="menu-text"> Charts </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuCharts">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="charts-apex.html" class="menu-link">
                                <span class="menu-text">Apex Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-flot.html" class="menu-link">
                                <span class="menu-text">Flot Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-morris.html" class="menu-link">
                                <span class="menu-text">Morris Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-chartjs.html" class="menu-link">
                                <span class="menu-text">Chartjs Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-peity.html" class="menu-link">
                                <span class="menu-text">Peity Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-chartist.html" class="menu-link">
                                <span class="menu-text">Chartist Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-c3.html" class="menu-link">
                                <span class="menu-text">C3 Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-sparklines.html" class="menu-link">
                                <span class="menu-text">Sparklines Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-knob.html" class="menu-link">
                                <span class="menu-text">Jquery Knob Charts</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
            <!--- End Menu -->
        <div class="clearfix"></div>
    </div>
</div>